<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuan.lx.xplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xuan.lx.xplayer.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xuan.lx.xplayer.activity.LastedActivity"></activity>
        <activity android:name="com.xuan.lx.xplayer.activity.ArtistsActivity"></activity>
        <activity android:name="com.xuan.lx.xplayer.activity.ListActivity"></activity>
        <activity android:name="com.xuan.lx.xplayer.activity.AlbumsActivity"></activity>
        <activity android:name="com.xuan.lx.xplayer.activity.MusicActivity"></activity>
        <service  android:name="com.xuan.lx.xplayer.activity.MusicService"></service>
        <activity android:name="com.xuan.lx.xplayer.activity.MyPreference"></activity>
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest>